# Python Virtual Environment
.venv/
venv/
ENV/
env/
.env

# Data Files
orders.csv
*.csv

# Python cache and distributions
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.htmlcov/
htmlcov/
dist/
build/
*.egg-info/
